<div class="pagination is-centered">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination-previous">Previous</a>
  {% else %}
    <span class="pagination-previous is-left">Previous</span>
  {% endif %}
  <span class="pagination-list">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a class="pagination-next" href="{{ paginator.next_page_path | relative_url }}" class="next">Next</a>
  {% else %}
    <span class="pagination-next">Next</span>
  {% endif %}
</div>
