<br>
<div class="pagination">
  {% if page.previous.url %}
  <a class="pagination-previous" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}"><span class=""></span> {{ page.previous.title | truncate: 15 }}</a>
  {% else %}
  <a class="pagination-previous" href="{{"/" | relative_url}}"><span class=""></span>Back</a>
  {% endif %}
  {% if page.next.url %}
  <a class="pagination-next" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">{{ page.next.title | truncate: 15 }} <span class=""></span></a>
  {% endif %}
</div>
