<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>

<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
        <h1 class="title">
          <span class="typewrite" data-period="2000" data-type='[ "hello", "namaste", "assalam o alaikum",
          "sat srī akāl", "khammaghani", "hola", "bonjour", "nomoskaar", "guten tag", "kumusta", "salut", "nômoshkar"]'>
            <span class="wrap"></span>
          </span>
        </h1>
      <h4 class="subtitle" id="quote">
      </h4>
    </div>
  </div>
</section>

<div class="main-container">
  <div class="tile is-ancestor is-vertical">


    <nav class="nav has-shadow">

      <div class="nav-left">

        <a href="{{"/" | relative_url}}" class="nav-item">
          <span class="icon">
            <i class="fa fa-home" aria-hidden="true" title="Homepage"></i>
          </span>
        </a>

        <a href="https://github.com/abhn" class="nav-item">
          <span class="icon">
            <i class="fa fa-github" aria-hidden="true" title="Github"></i>
          </span>
        </a>

        <div class="nav-item" id="searchFieldNav">
          <div class="field has-addons">
            <p class="control">
              <input class="input is-small" type="text" placeholder="Find an article" id="search-text">
            </p>
            <p class="control">
              <a class="button is-dark is-small" onclick="searchHandler();">
                Search
              </a>
            </p>
          </div>
        </div>

      </div>

      <div class="nav-right nav-menu" id='nav-menu'>
        <a href="{{ "/archive" | relative_url }}" class="nav-item">Archive</a>
        <a href="{{ "/tags" | relative_url }}" class="nav-item">Tags</a>
      </div>

      <span class="nav-toggle" id="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
    </nav>

    <div class="tile is-parent">
      <div class="tile is-8 is-child main">

        {{ content }}

      </div>

      <div class="tile is-4 is-child">
        <div class="tile is-parent is-vertical sidebar">

          <div class="tile is-child widget">

            <div class="card">
              <header class="card-header">
                <p class="card-header-title nice-title">
                  Recent Posts
                </p>
              </header>
              <div class="card-content">
                <div class="content nice-text">
                  <ul>
                  {% for post in site.posts limit:3 %}
                  <li><a href="{{ post.url | relative_url }}">
                    {{ post.title }}
                  </a></li>
                  {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="tile is-child widget">

            <div class="card">
              <header class="card-header">
                <p class="card-header-title nice-title">
                  Sponsored
                </p>
              </header>
              <div class="card-content">
                <div class="content nice-text">
                  <img src="{{ site.baseurl }}/assets/images/Dust_Bunny.jpg"/>
                </div>
              </div>
            </div>

          </div>

          <div class="tile is-child widget">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title nice-title">
                  Recommended Websites
                </p>
              </header>
              <div class="card-content">
                <div class="content nice-text">
                  <ul>
                    <li>
                      <a href="https://xkcd.com">xkcd</a>
                    </li>
                    <li>
                      <a href="http://commitstrip.com">Commit Strip</a>
                    </li>
                    <li>
                      <a href="http://www.smbc-comics.com">SMBC Comics</a>
                    </li>
                    <li>
                      <a href="https://blog.codinghorror.com">Coding Horror</a>
                    </li>
                    <li>
                      <a href="http://waitbutwhy.com">Wait Buy Why</a>
                    </li>
                    <li>
                      <a href="https://simplysoch.wordpress.com/">Simply Soch</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Some rights reserved.
      </p>
      <p>
        Made with <i class="fa fa-heart"></i> and <a href="https://github.com/jgthms/bulma">Bulma</a>, <a href="https://jekyllrb.com/">Jekyll</a>. Hosted on <a href="https://github.com/">Github</a>
      </p>
      <p>
        <a class="icon" href="https://github.com/abhn">
          <i class="fa fa-github" title="Github"></i>
        </a>
        <a class="icon" href="https://in.linkedin.com/in/AbhishekNagekar">
          <i class="fa fa-linkedin" title="Linkedin"></i>
        </a>
        <a class="icon" href="mailto:abhishek@nagekar.com">
          <i class="fa fa-envelope" title="Email"></i>
        </a>
      </p>
    </div>
  </div>
</footer>

<!-- js -->
<script src="{{ site.baseurl }}/assets/js/custom.js"></script>
<script src="{{ site.baseurl }}/assets/js/typewriter.js"></script>
</body>
</html>
